<h3 class="center">Welcome to the Question && Answer Board</h3>
<div class="divider"></div>
<br>

<h5 class="center">Click on questions to see more or add a new post below</h5>

<div class="divider"></div>
<br>


<div class="row myrow">
  <div class="two columns">
    {{#each model as |post|}}
      <li>{{post.author}}{{post.question}}</li>
    {{/each}}
  </div>
</div>
